a {
    color:inherit;
    text-decoration: none;
}
html,  body { 
    margin: 0; 
    width: 100%; 
    height: 100%; 
}
footer { 
  width: 100%; 
  height: 60px;
  position: absolute; 
  bottom: 0; 
}

#main_content, header, footer {
  padding-left: 10%;
}

header{
  border-bottom: solid 2px;
}
footer{
  border-top: solid 2px;
}
