{% extends '_base.html' %}

{% block main %}
<div>
    <p>このページの作成者名: {{ page_owner.email }}</p>
</div>
{% for i in object_list %}
<a href="{% url 'detail' i.pk %}">
    {% if page_owner.id == i.posted_by.id %}
    <div class="article_contents posted_by">
        投稿者：{{ i.posted_by }}
    </div>
    <div class="article_contents posted_text">
        本文：{{ i.posted_text }}
    </div>
    <div class="article_contents posted_at">
        投稿日：{{ i.posted_at }}
    </div>
</a>

<p style="display: none;">コピーするURL :<input id="copyTarget_{{ i.pk }}" type="text"
        value="http://127.0.0.1:8000{% url 'detail' i.pk %}">
</p>
<button id="btn_{{ i.pk }}" type="button" onclick="copyToClipboard('copyTarget_{{ i.pk }}')">Copy URL</button>
<br><br>
{% endif %}

<script>
    let btn = document.getElementById('btn_{{ i.pk }}');
    btn.addEventListener('click', function (e) {
        copy_to_clipboard('ここの内容をコピーします。');
    });

    function copy_to_clipboard(value) {
        if (navigator.clipboard) {
            let copyText = value;
            navigator.clipboard.writeText(copyText).then(function () {
                alert('コピーしました。');
            });
        } else {
            alert('対応していません。');
        }
    }

</script>


{% endfor %}
<!-- 投稿がありませんの表示 -->




{% endblock %}