<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block title %}
    <title></title>
    {% endblock %}
</head>
<body>
    {% block header %}
    <header>
        {% include '_header.html' %}
    </header>
    {% endblock %}
    <div id="main_content">
    {% block main%}
        コンテンツがありません。
    {% endblock %}
    </div>
    {% block footer %}
    <footer>
        {% block url_index %}
        <a href="{% url 'index' %}">ホームに戻る</a>
        {% endblock %}
        <a href="{% url 'logout' %}">ログアウト</a>
        <a href="{% url 'login' %}">ログイン</a>
        <a href="{% url 'home_index' %}">トップ</a>
    </footer>
    {% endblock %}
</body>