{% extends '_base.html' %}

{% block main %}
    <div>
        <p>このページの作成者名: {{ page_owner.email }}</p>
    </div>
    {% for i in object_list %}
        {% if page_owner.id == i.posted_by.id %}
        <div class="article_contents posted_by">
            投稿者：{{ i.posted_by }}
        </div>
        <div class="article_contents posted_text">
            本文：{{ i.posted_text }}
        </div>
        <div class="article_contents posted_at">
            投稿日：{{ i.posted_at }}
        </div>

        <br>
        {% endif %}
    {% endfor %}
    <!-- 投稿がありませんの表示 -->
{% endblock %}