{% extends '_base.html' %}

{% block main %}
    <div>
        <p>このページの作成者名: {{ page_owner.email }}</p>
    </div>
    {% for i in object_list %}
        {% if page_owner.id == i.posted_by.id %}
        <div class="article_contents posted_text">
        {% if i.posted_text|length >= 50 %}
            本文：{{ i.posted_text | slice:":50" }}...
        {% else %}
            本文：{{ i.posted_text }}
        {% endif %}
        </div>
        <div class="article_contents posted_at">
            投稿日：{{ i.posted_at }}
        </div>

        <br>
        {% endif %}
    {% endfor %}
{% endblock %}